        body {
        background-color: darkolivegreen;
    }
    
    .header {
        text-align: center;
    }
    
    li {
        list-style: none;
        display: block;
    }
    
    ul {}
    
    picture,
    img {
        max-width: 90%;
    }
    
    @media screen and (min-width: 600px) {
        body {
            background-color: red;
        }
        li {
            display: inline-block;
            width: 46%;
        }
        @media screen and (min-width: 1200px) {
            body {
                background-color: blue;
            }
            li {
                display: inline-block;
                width: 24%;
            }
        }